:root {
  --basic-white: #ffffff;
  --basic-сharcoal: #323232;
  --basic-dark-gray: #5a5a5a;
  --basic-light-gray: #999999;
  --gray: #b2b2b2;
  --basic-green: #849d8f;
  --beige: #f0e1b0;
  --light-beige: #f8f7f4;
  --orange: #d07058;
  --gray-background: rgba(255, 255, 255, 0.2);
  --brown: #301d1d;
  --burgundy: #80182d;
  --pink: #f0819b;
  --brule: #d9b698;
  --blue: #3414c4;
  --light-blue: #b2cbf7;
  --light-yellow: #d3d3d2;
  --black: #000000;
  --gray-money: #c4c4c4;
}

body {
  min-width: 1166px;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 22px;
  color: var(--basic-white);
  background-color: var(--basic-green);
  background-image: url("../img/main/ic-raspberry.png");
  background-position: top center;
  background-repeat: no-repeat;
  box-sizing: border-box;
}
/*
img {
  max-width: 100%;
  height: auto;
} */

a {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.popup {
  display: none;
}

.nav-inner-list {
  display: none;
  margin: 0;
  padding: 13px 20px;
  background-color: var(--basic-white);
  box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.4);
  border-radius: 4px;
}

.nav-inner-list li {
  padding: 7px;
}

.nav-list a:hover + .nav-inner-list {
  display: flex !important;
  flex-direction: column;
  position: absolute;
}

.btn-search:hover + .search-form {
  display: flex;
  position: absolute;
}

.form-login a:hover + .login-form {
  display: flex;
  flex-direction: column;
  position: absolute;
}

.nav-item-new {
  border-bottom: 1px solid gray;
}

.nav-item-new a {
  font-weight: bold;
  font-size: 14px;
  line-height: 18px;
}

.nav-inner-item a {
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: var(--basic-сharcoal);
}

.btn-ice {
  display: none;
}

.catalog-item:hover {
  background-color: var(--basic-white);
  opacity: 0.2;
  box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 6px 13px 21px 13px;
  width: 293px;
  height: 402px;
}

.main-slide-item {
  display: none;
}

.main-slide-item.active {
  display: block;
}

.filters-parameters {
  display: none;
  width: 196px;
}

.filters-sort:hover + .filters-parameters {
  display: block;
}

.nav-inner-list,
.nav-list,
.advantages-list,
.social-list,
.documentation-list,
.catalog-list,
.filters-fat-list,
.filters-type-list,
.pagination-list,
.slide-button,
.form-order-list {
  list-style: none;
}

.nav-list a {
  font-weight: bold;
  font-size: 16px;
  line-height: 18px;
  color: var(--basic-white);
}

.nav-inner-list a {
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: var(--basic-сharcoal);
}

.btn-login,
.btn-basket {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: var(--basic-white);
  text-align: center;
}

.btn-search {
  display: flex;
  width: 32px;
  height: 32px;
  background-color: var(--gray-background);
  border-radius: 50%;
  padding: 8px;
  box-sizing: border-box;
}

.btn-login {
  display: flex;
  width: 92px;
  height: 32px;
  background-color: var(--gray-background);
  border-radius: 20px;
  box-sizing: border-box;
  padding: 6px 16px 7px 16px;
}

.btn-login span {
  margin-left: 8px;
  margin-top: 2px;
}

.btn-basket {
  display: flex;
  width: 100px;
  height: 32px;
  background-color: var(--gray-background);
  border-radius: 20px;
  box-sizing: border-box;
  padding: 6px 16px 6px 16px;
}

.btn-basket span {
  margin-left: 8px;
  margin-top: 2px;
}

.btn-basket-order {
  display: flex;
  width: 118px;
  height: 32px;
  background-color: var(--basic-white);
  border-radius: 20px;
  box-sizing: border-box;
  padding: 6px 16px 6px 16px;
}

.btn-basket-order span {
  margin-left: 7px;
  margin-top: 3px;
}

.btn-checkout {
  border-radius: 26px;
  padding: 13px 15px;
  color: var(--basic-white);
  font-weight: bold;
  font-size: 18px;
  line-height: 16px;
}
/*
.form-order {
  background-color: var(--light-beige);
  box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.4);
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
} */


.form-order-list {
  padding: 20px 14px 21px 21px;
}

.form-order-item {
  display: flex;
  justify-content: space-between;
  min-height: 33px;
    padding-top: 10px;
    margin-bottom: 20px;
    padding-left: 70px;
}

.btn-delete {
  cursor: pointer;
  align-self: flex-end;
}

.form-order-ice {
  margin: 0;
  padding: 0;
  font-size: 13px;
  line-height: 16px;
  color: var(--basic-сharcoal);
}

.form-order-total {
  font-weight: bold;
  font-size: 15px;
  line-height: 16px;
  color: var(--basic-сharcoal);
}

.form-order-weight {
  font-size: 13px;
  line-height: 16px;
  color: var(--black);
}

.form-order-sum {
  color: var(--gray-money);
}

.form-ice-sum {
  color: var(--basic-сharcoal);
}

.advantages {
  background-image: url(../img/main/bg-wafer.jpg);
  background-color: var(--beige);
  background-repeat: repeat;
  background-position: 0 0;
  border-radius: 16px;
  min-height: 306px;
  width: 1146px;
  padding: 24px 20px;
}

.advantages h2 {
  font-weight: 500;
  font-size: 24px;
  line-height: 30px;
  color: var(--basic-сharcoal);
  width: 995px;
  margin: 0;
}

.advantages-list {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

.advantages-item {
  position: relative;
  font-size: 16px;
  line-height: 22px;
  color: var(--basic-сharcoal);
  width: 484px;
  padding-left: 56px;
  padding-top: 12px;
  margin-top: 10px;
  width: 43%;
}

.ice::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 49px;
  width: 49px;
  background-image: url("../img/main/ice.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.cow::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 49px;
  width: 49px;
  background-image: url("../img/main/cow.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.leaf::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 49px;
  width: 49px;
  background-image: url("../img/main/leaf.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.thermometer::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 49px;
  width: 49px;
  background-image: url("../img/main/thermometer.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.news {
  background-image: url(../img/main/bg-serving.jpg);
  background-color: var(--basic-white);
  background-repeat: round;
  border-radius: 16px;
  width: 560px;
  min-height: 220px;
  box-sizing: border-box;
  padding: 23px 20px;
}

.news-item p {
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  color: var(--basic-сharcoal);
  margin: 0;
}

.news-item h3 {
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  color: var(--basic-сharcoal);
  text-decoration: underline;
  width: 287px;
  margin: 15px 0;
}

.subscription {
  background-image: url(../img/main/bg-email.png);
  background-repeat: round;
  background-color: var(--light-beige);
  width: 560px;
  min-height: 220px;
  border-radius: 16px;
  box-sizing: border-box;
  padding: 34px 26px 34px 22px;
}

.subscription p {
  font-size: 16px;
  line-height: 22px;
  color: var(--basic-dark-gray);
  margin: 0 0 47px 0;
}

.subscription-form {
  display: flex;
}

.subscription-form input {
  font: inherit;
  background-color: var(--basic-white);
  border-width: 1px;
  border-style: solid;
  border-color: var(--gray);
  opacity: 0.52;
  border-radius: 6px;
  font-size: 16px;
  line-height: 24px;
  color: var(--basic-light-gray);
  padding: 15px 14px;
  width: 368px;
  box-sizing: border-box;
}

.button {
  color: var(--basic-white);
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
  border: none;
  border-radius: 70px;
  text-align: center;
  font: inherit;
  background-image: linear-gradient(180deg, #f26843 0%, #e74a35 100%);
  text-shadow: 0px 2px 5px rgba(160, 32, 11, 0.76);
  border-radius: 70px;
}

.subscription-form button {
  padding: 14px 19px;
}

.documentation-list a {
  font-size: 13px;
  line-height: 18px;
  color: var(--basic-white);
}

.documentation-item {
  font-weight: bold;
}

.documentation-list {
  position: relative;
}

.documentation-item::before {
  content: "";
  position: absolute;
  top: 5px;
  left: 20px;
  height: 13px;
  width: 15px;
  background-image: url("../img/footer/heart.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.development p,
.development a {
  font-size: 12px;
  line-height: 18px;
  color: var(--basic-white);
}

.catalog-item h3 {
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  color: var(--basic-white);
}

.catalog-item p {
  font-weight: bold;
  font-size: 45px;
  line-height: 45px;
  color: var(--basic-white);
  text-shadow: 0px 1px 3px rgba(49, 50, 53, 0.5);
}

.catalog-item span {
  font-weight: bold;
  font-size: 30px;
  line-height: 35px;
}

.catalog-item a {
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
  color: var(--basic-white);
  padding: 12px 16px;
}

.catalog-item-ice {
  background-color: var(--beige);
  background-repeat: no-repeat;
  border-radius: 50%;
  width: 267px;
  height: 267px;
  display: flex;
}

.catalog-item-price {
  padding: 0;
  margin: 0 0 20px 0;
  align-self: flex-end;
}

.catalog-item-orange {
  background-image: url(../img/main/products/ic-orange.png);
  background-color: var(--beige);
}

.catalog-item-coffee {
  background-image: url(../img/main/products/ic-coffee.png);
  background-color: var(--brown);
}

.catalog-item-strawberry {
  background-image: url(../img/main/products/ic-strawberry.png);
  background-color: var(--pink);
}

.catalog-item-brulee {
  background-image: url(../img/main/products/ic-brulee.png);
  background-color: var(--brule);
}

.catalog-item-lingonberry {
  background-image: url(../img/main/products/ic-lingonberry.png);
  background-color: var(--burgundy);
}

.catalog-item-blueberries {
  background-image: url(../img/main/products/ic-blueberries.png);
  background-color: var(--blue);
}

.catalog-item-lemon {
  background-image: url(../img/main/products/ic-lemon.png);
  background-color: var(--beige);
}

.catalog-item-chocolate {
  background-image: url(../img/main/products/ic-chocolate.png);
  background-color: var(--light-blue);
}

.catalog-item-vanilla {
  background-image: url(../img/main/products/ic-vanilla.png);
  background-color: var(--light-beige);
}

.catalog-item-menthol {
  background-image: url(../img/main/products/ic-menthol.png);
  background-color: var(--light-blue);
}

.catalog-item-blackchocolate {
  background-image: url(../img/main/products/ic-blackchocolate.png);
  background-color: var(--brown);
}

.catalog-item-mint {
  background-image: url(../img/main/products/ic-mint.png);
  background-color: var(--light-blue);
}

.order span {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: var(--basic-сharcoal);
}

.path {
  position: relative;
}

.path a {
  font-size: 14px;
  line-height: 16px;
  color: var(--basic-white);
  padding-right: 22px;
}

.schedule p {
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  color: var(--basic-white);
}

.schedule a {
  font-weight: bold;
  font-size: 22px;
  line-height: 24px;
  color: var(--basic-white);
}

.main-title {
  font-weight: bold;
  font-size: 35px;
  line-height: 41px;
  color: var(--basic-white);
}

.btn-catalog {
  background-color: var(--orange);
  padding: 9px 14px;
  color: var(--basic-white);
  border-radius: 26px;
  width: 61px;
}

.path-item::after {
  content: "";
  position: absolute;
  margin: 9px;
  width: 6px;
  height: 6px;
  background-image: url("../img/header/raquo.png");
  background-repeat: no-repeat;
}

.main-slide-item h3 {
  font-weight: bold;
  font-size: 60px;
  line-height: 60px;
  color: var(--basic-white);
}

.btn-double-order {
  font-weight: bold;
  font-size: 32px;
  line-height: 44px;
  color: var(--basic-white);
  padding: 10px 40px;
}

.special h3 {
  font-weight: bold;
  font-size: 35px;
  line-height: 41px;
  color: var(--basic-white);
  margin: 0;
}
.special {
  padding: 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.special p {
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
}

.btn-special {
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
  padding: 15px 22px;
  height: 48px;
  box-sizing: border-box;
  align-self: flex-end;
}

.special-rasp {
  background-image: url(../img/main/bg-raspberry.jpg);
  background-color: var(--burgundy);
  background-repeat: round;
  box-sizing: border-box;
  border: none;
  border-radius: 16px;
  width: 560px;
  min-height: 229px;
}

.special-chocolate {
  background-image: url(../img/main/bg-chocolate.jpg);
  background-color: var(--brown);
  background-repeat: round;
  box-sizing: border-box;
  border: none;
  border-radius: 16px;
  width: 560px;
  min-height: 229px;
}

.special-ice {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.catalog-item-hit {
  background-image: url(../img/main/products/hit/hit.png);
  background-color: var(--basic-white);
  background-repeat: no-repeat;
  border: none;
  border-radius: 50%;
  width: 61px;
  height: 61px;
}

.contact {
  background-image: url(../img/main/map.jpg);
  background-color: var(--gray);
  background-repeat: no-repeat;
  min-height: 430px;
  width: 100%;
  background-size: cover;
  margin-top: 40px;
  margin-bottom: 14px;
}

.contact-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 62px 0;
}

.contact-info {
  background-color: var(--basic-white);
  width: 303px;
  height: 306px;
  border-radius: 16px;
  margin: 0;
  padding: 32px 0 8px 25px;
}

.contact-info p {
  font-size: 14px;
  line-height: 20px;
  color: var(--basic-сharcoal);
}

.contact-info a {
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
  color: var(--basic-сharcoal);
}

.btn-contact {
  padding: 13px 28px;
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
}

.filters fieldset {
  padding: 0;
  margin: 0;
  margin-bottom: 30px;
  border: none;
}

.filters legend {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: var(--basic-white);
}

.filters-parameter {
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  color: var(--basic-white);
}

.filters {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 869px;
}

.filters-fat-list {
  width: 425px;
  margin: 0;
  padding: 0;
}

.filters-type-list {
  display: flex;
  justify-content: space-between;
  width: 711px;
  margin: 0;
  padding: 0;
}

.filters-price {
  width: 218px;
  margin: 0;
  padding: 0;
}

.filters-fat-list {
  display: flex;
  justify-content: space-between;
  width: 425px;
  margin: 0;
  padding: 0;
}

.btn-filters {
  box-sizing: border-box;
  border: 2px solid;
  border-color: var(--basic-white);
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 20px;
  padding: 14px 29px;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  color: var(--basic-white);
}

.pagination {
  display: flex;
  justify-content: flex-end;
}

.pagination-item a {
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  color: inherit;
}

.pagination-item {
  display: flex;
  align-items: center;
  border-radius: 50%;
  width: 26px;
  height: 26px;
  justify-content: center;
  color: var(--basic-white);
}

.pagination-item:hover {
  background-color: var(--basic-white);
  color: black;
}

.pagination-list {
  display: flex;
  position: relative;
}

.pagination-item-previous a::before {
  content: "";
  position: absolute;
  background-image: url("../img/main/previous-page.svg");
  background-repeat: no-repeat;
  width: 7px;
  height: 12px;
  margin-left: -15px;
  margin-top: 7px;
}

.pagination-item-next a::after {
  content: "";
  position: absolute;
  background-image: url("../img/main/next-page.svg");
  background-repeat: no-repeat;
  width: 7px;
  height: 12px;
  margin: 7px;
}

.slide-buttons {
  display: flex;
}

.slide-button {
  margin-right: 8px;
}

.btn-slide {
  width: 21px;
  height: 21px;
  border-radius: 50%;
  border: 3px solid;
  border-color: var(--basic-white);
  cursor: pointer;
}

.btn-slide:hover {
  background-color: var(--basic-white);
}

.page {
  height: 100%;
}

.page-body {
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}

.container {
  margin: 0 auto;
  width: 1146px;
  box-sizing: border-box;
}

.main-header {
  display: flex;
  justify-content: space-between;
  padding: 9px 0;
  align-items: center;
}

.main-nav {
  display: flex;
  margin: 0;
  padding: 0;
}

.nav-list {
  padding: 0;
  margin-left: 24px;
  display: flex;
  width: 357px;
  justify-content: space-between;
}

.user-menu {
  display: flex;
  justify-content: space-between;
}

.user-menu > * {
  margin-right: 10px;
}

.info-sections {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
  width: 1146px;
}

.social-list {
  display: flex;
  flex-wrap: wrap;
  width: 170px;
  justify-content: space-between;
  padding: 0;
}

.documentation-list {
  display: flex;
  flex-wrap: wrap;
  width: 330px;
  justify-content: space-between;
}

.documentation-list li {
  width: 165px;
}

.line {
  width: 100%;
  height: 1px;
  background: rgba(255, 255, 255, 0.2);
  margin-bottom: 18px;
}

.footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.development-title {
  margin: 0;
}

.shop-info {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.catalog-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0;
}

.catalog-item {
  width: 267px;
  text-align: center;
}

.schedule {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.contact-img {
  margin: 100px;
}

.search-form {
  padding: 20px 15px;
  background-color: var(--light-beige);
  box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.4);
  border-radius: 4px;
}

.search-form-input {
  width: 311px;
  height: 44px;
  background-color: var(--basic-white);
  border: 1px solid;
  border-color: var(--light-yellow);
  box-sizing: border-box;
  border-radius: 4px;
  color: var(--basic-light-gray);
  padding: 15px;
}

.login-form {
  padding: 20px;
  background-color: var(--light-beige);
  box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.4);
  border-radius: 4px;
}

.login-form-buttons {
  display: flex;
  justify-content: space-between;
}

.login-form-help {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.login-form input {
  width: 241px;
  height: 44px;
  background-color: var(--basic-white);
  border: 1px solid;
  border-color: var(--light-yellow);
  box-sizing: border-box;
  border-radius: 4px;
  color: var(--basic-light-gray);
  padding: 15px;
  margin-bottom: 20px;
}

.btn-login-modal {
  width: 103px;
  height: 44px;
  border-radius: 26px;
}

.login-form-text {
  font-size: 13px;
  line-height: 15px;
  color: var(--basic-сharcoal);
}

.feedback-form {
  display: flex;
  flex-direction: column;
  padding: 20px 25px 27px 23px;
  background-color: var(--light-beige);
  border-radius: 6px;
}

.feedback-form-title {
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  margin: 0 0 26px 0;
  color: var(--basic-сharcoal);
}

.feedback-form-user,
.feedback-form-email {
  width: 267px;
  height: 44px;
  background-color: var(--basic-white);
  border: 1px solid;
  border-color: var(--light-yellow);
  box-sizing: border-box;
  border-radius: 4px;
  color: var(--basic-light-gray);
  padding: 15px;
  margin-bottom: 20px;
}

.feedback-form-text {
  width: 428px;
  height: 154px;
  background-color: var(--basic-white);
  border: 1px solid;
  border-color: var(--light-yellow);
  box-sizing: border-box;
  border-radius: 4px;
  color: var(--basic-light-gray);
  margin-bottom: 25px;
  padding: 16px 14px;
}

.btn-feedback {
  width: 140px;
  height: 44px;
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
  color: var(--basic-white);
  text-shadow: 0px 2px 5px rgba(160, 32, 11, 0.76);
  align-self: flex-end;
}
