:root {
  --basic-white: #ffffff;
  --basic-сharcoal: #323232;
  --basic-dark-gray: #5a5a5a;
  --basic-light-gray: #999999;
  --gray: #b2b2b2;
  --basic-green: #849d8f;
  --beige: #f0e1b0;
  --light-beige: #f8f7f4;
  --orange: #d07058;
  --burgundy: #80182d;
  --pink: #f0819b;
  --brule: #d9b698;
  --blue: #3414c4;
  --light-blue: #b2cbf7;
  --light-yellow: #d3d3d2;
  --black: #000000;
  --gray-money: #c4c4c4;
  --brown: #9d8b84;
  --light-gray: #8996a6;
  --black-shadow: rgba(0, 0, 0, 0.4);
  --black-feedback: rgba(0, 0, 0, 0.5);
  --burgundy-shadow: rgba(160, 32, 11, 0.76);
  --middle-gray-shadow: rgba(49, 50, 53, 0.5);
  --middle-gray-hover: rgba(255, 255, 255, 0.4);
  --gray-filters: rgba(255, 255, 255, 0.2);
  --middle-gray-input: rgba(255, 255, 255, 0.8);
  --middle-gray-border: rgba(255, 255, 255, 0.5);
  --light-gray-border-active: rgba(255, 255, 255, 0.7);
  --orange-hover: #e84d37;
  --light-orange-hover: #ffbc9e;
  --gray-border: rgba(50, 50, 50, 0.2);
  --gray-shadow: #696969;
  --bright-orange: #e74a35;
  --middle-orange: #f26843;
  --gray-form: #cacac7;
  --black-hover: rgba(0, 0, 0, 0.07);
  --dark-red-shadow: #942718;
  --dark-red: #ac1000;
  --light-orange-nav: #fbded7;
  --light-gray-active: #ededed;
  --middle-orange-active: #f6b5a5;
  --dark-orange-active: #d07058;
  --red-button-shadow: rgba(172, 16, 0, 0.64);
  --gray-input-hover: rgba(178, 178, 178, 0.52);
  --blue-border-focus: rgba(46, 136, 228, 0.52);
  --scale-color: rgba(248, 247, 244, 0.5);
  --dot-color: #ababab;
}

body {
  font-family: "Roboto", "Tahoma", sans-serif;
  font-size: 16px;
  line-height: 22px;
  box-sizing: border-box;
  min-width: 1166px;
  margin: 0;
  padding: 0;
  color: var(--basic-white);
  background-color: var(--basic-green);
  background-repeat: no-repeat;
  background-position: top center;
}

.main {
  display: flex;
  flex-direction: column;
}

a {
  text-decoration: none;
}

.contact iframe {
  width: 100%;
  height: 430px;
  border: none;
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}

.nav-inner-list {
  position: absolute;
  display: none;
  align-content: center;
  align-items: center;
  flex-direction: column;
  box-sizing: border-box;
  width: 143px;
  height: 171px;
  margin: 15px 0 0 0;
  padding: 0 0 10px 0;
  border-radius: 4px;
  background-color: var(--basic-white);
  box-shadow: 0 20px 20px var(--black-shadow);
}

.nav-inner-list li {
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin: 3px 0;
}

.nav-list li:hover .nav-inner-list {
  display: flex;
}

.form-search:hover .search-form {
  display: flex;
}

.form-login {
  display: flex;
  padding: 15px 0 15px 0;
}

.form-login:hover .login-form {
  display: flex;
}

.form-order-basket {
  padding: 15px 0 15px 0;
}

.order:hover .form-order {
  display: flex;
}

.nav-item-new a {
  font-size: 14px;
  font-weight: bold;
  line-height: 18px;
}

.nav-inner-list {
  font-size: 14px;
  font-weight: normal;
  line-height: 16px;
  color: var(--basic-сharcoal);
}

.nav-item-new {
  font-size: 14px;
  font-weight: bold;
  line-height: 18px;
  color: var(--basic-сharcoal);
}

.btn-ice {
  display: none;
}

.catalog-item:hover .btn-ice {
  position: absolute;
  bottom: -25px;
  left: 50%;
  display: inline-block;
  width: 200px;
  margin-left: -116px;
  vertical-align: top;
}

.catalog-item:hover .catalog-item-inner {
  position: relative;
  z-index: 2;
}

.catalog-item:hover::after {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: calc(100% + 40px);
  content: "";
  border-radius: 4px;
  background-color: var(--middle-gray-hover);
}

.catalog-item-inner {
  padding: 6px 3px 21px 3px;
}

.catalog-item {
  position: relative;
  box-sizing: border-box;
  width: 100%;
  min-height: 355px;
  margin: 0 auto;
  text-align: center;
}

.main-slide {
  margin-bottom: 10px;
}

.main-slide-first {
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  background-color: var(--basic-green);
  background-image: url("../img/main/ic-raspberry.png");
}

.main-slide-second {
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  background-color: var(--light-gray);
  background-image: url("../img/main/ic-lemon.png");
}

.main-slide-third {
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  background-color: var(--brown);
  background-image: url("../img/main/ic-strawberry.png");
}

.main-slide-item {
  display: none;
  align-content: center;
  align-items: center;
  flex-direction: column;
  width: 672px;
  margin: 0 auto;
}

.main-slide-item.active {
  display: flex;
}

.filters-sort:hover + .filters-parameters {
  display: block;
}

.filters-sort svg {
  position: absolute;
  top: 36px;
  right: 20px;
}

.filters-sort:hover path {
  fill: var(--basic-сharcoal);
}

.filters-parameters:hover {
  color: var(--basic-сharcoal);
}

.nav-inner-list,
.nav-list,
.advantages-list,
.social-list,
.documentation-list,
.catalog-list,
.filters-fat-list,
.filters-type-list,
.pagination-list,
.slide-button,
.form-order-list {
  list-style: none;
}

.nav-list-item {
  font-size: 16px;
  font-weight: bold;
  line-height: 18px;
  margin: 0 2px;
  padding: 9px 13px;
  text-decoration: underline;
  color: var(--basic-white);
  text-decoration-color: var(--gray-filters);
}

.nav-list-item:hover {
  color: var(--basic-сharcoal);
  border-radius: 26px;
  background-color: var(--light-gray-active);
}

.nav-list-item:active {
  box-shadow: inset 0 2px 1px var(--gray-shadow);
}

.nav-inner-item {
  font-size: 14px;
  line-height: 27px;
  display: inline-block;
  box-sizing: border-box;
  width: 100%;
  padding-left: 21px;
  cursor: pointer;
  vertical-align: top;
  color: var(--basic-сharcoal);
}

.nav-item-new {
  font-size: 14px;
  font-weight: bold;
  line-height: 27px;
  display: inline-block;
  box-sizing: border-box;
  width: 80%;
  padding-left: 8px;
  vertical-align: top;
  color: var(--basic-сharcoal);
  border-color: var(--gray-border);
  border-bottom: 1px solid;
}

.nav-inner-item:hover {
  background: var(--light-orange-nav);
}

.nav-inner-item:active {
  background: var(--middle-orange-active);
}

.nav-inner-item-selected {
  color: var(--basic-white);
  background-color: var(--dark-orange-active);
}

.nav-inner-item-selected:hover {
  background-color: var(--dark-orange-active);
}

.button:hover {
  background: linear-gradient(var(--gray-filters), var(--gray-filters)),
    linear-gradient(180deg, var(--middle-orange) 0%, var(--bright-orange));
  box-shadow: 0 2px 2px var(--dark-red);
}

.button:active {
  background: linear-gradient(var(--black-hover), var(--black-hover)),
    linear-gradient(180deg, var(--middle-orange) 0%, var(--bright-orange));
  box-shadow: inset 0 2px 2px var(--dark-red-shadow);
}

.btn-login,
.btn-basket {
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  text-align: center;
  color: var(--basic-white);
}

.btn-send {
  width: 130px;
  padding: 14px 19px;
}

.btn-search {
  display: flex;
  box-sizing: border-box;
  width: 32px;
  height: 32px;
  padding: 8px;
  border-radius: 50%;
  background-color: var(--gray-filters);
  background-repeat: no-repeat;
  background-position: center;
}

.btn-search:hover {
  background-color: var(--basic-white);
}

.btn-search:hover path {
  fill: var(--basic-сharcoal);
}

.btn-login {
  display: flex;
  align-items: center;
  box-sizing: border-box;
  width: 92px;
  height: 32px;
  margin: 0 10px 0 0;
  padding: 6px 16px 7px 16px;
  border-radius: 20px;
  background-color: var(--gray-filters);
}

.btn-login span {
  margin-left: 8px;
}

.btn-login svg {
  width: 20px;
  height: 19px;
  background-repeat: no-repeat;
  background-position: center;
}

.btn-login:hover {
  color: var(--basic-сharcoal);
  background-color: var(--basic-white);
}

.btn-login:hover path {
  fill: var(--basic-сharcoal);
}

.btn-basket {
  display: flex;
  box-sizing: border-box;
  width: 100px;
  height: 32px;
  padding: 6px 16px 6px 16px;
  border-radius: 20px;
  background-color: var(--gray-filters);
}

.btn-basket span {
  margin-top: 2px;
  margin-left: 8px;
}

.btn-basket-order {
  display: flex;
  box-sizing: border-box;
  width: 118px;
  height: 32px;
  padding: 6px 16px 6px 16px;
  border-radius: 20px;
  background-color: var(--basic-white);
}

.btn-basket-order span {
  margin-top: 3px;
  margin-left: 7px;
}

.btn-checkout {
  font-size: 18px;
  font-weight: bold;
  font-style: normal;
  line-height: 16px;
  align-self: flex-end;
  width: 172px;
  padding: 13px 15px;
  color: var(--basic-white);
  border-radius: 26px;
}

.form-order {
  position: absolute;
  z-index: 1;
  display: none;
  flex-direction: column;
  box-sizing: border-box;
  min-width: 539px;
  height: 242px;
  margin: 7px -420px;
  padding: 20px 14px 21px 15px;
  border-radius: 4px;
  background-color: var(--light-beige);
  box-shadow: 0 20px 20px var(--black-shadow);
}

.form-order-list {
  margin: 0;
  padding: 0;
}

.form-order-item {
  display: flex;
  align-content: center;
  align-items: center;
  width: 100%;
  margin-bottom: 18px;
}

.form-order-item a {
  margin: 0 13px 0 0;
}

.btn-delete {
  width: 11px;
  height: 11px;
  margin-right: 9px;
  cursor: pointer;
  border: none;
  outline: none;
  background: url(../img/main/button-close.svg);
  background-repeat: no-repeat;
}

.btn-feedback-close {
  position: absolute;
  align-self: flex-end;
  width: 18px;
  height: 17px;
  padding: 0;
  cursor: pointer;
  border: none;
  outline: none;
  background: none;
}

.form-order-ice {
  font-size: 13px;
  font-weight: normal;
  font-style: normal;
  line-height: 16px;
  width: 216px;
  margin: 0 31px 0 0;
  padding: 0;
  color: var(--basic-сharcoal);
}

.form-order-total {
  font-size: 15px;
  font-weight: bold;
  line-height: 16px;
  padding: 15px 0 16px 0;
  text-align: right;
  color: var(--basic-сharcoal);
  border-color: var(--gray-form);
  border-top: 1px solid;
}

.form-order-weight {
  font-size: 13px;
  line-height: 16px;
  margin: 0 26px 0 0;
  color: var(--black);
}

.form-order-sum {
  color: var(--gray-money);
}

.form-ice-sum {
  color: var(--basic-сharcoal);
}

.advantages {
  width: 1146px;
  min-height: 306px;
  padding: 24px 20px;
  border-radius: 16px;
  background-color: var(--beige);
  background-image: url(../img/main/bg-wafer.jpg);
  background-repeat: repeat;
  background-position: 0 0;
}

.advantages h2 {
  font-size: 24px;
  font-weight: 500;
  line-height: 30px;
  width: 995px;
  margin: 0;
  color: var(--basic-сharcoal);
}

.advantages-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  margin: 0;
  padding: 0;
}

.advantages-item {
  font-size: 16px;
  line-height: 22px;
  display: flex;
  align-content: center;
  width: 540px;
  padding-top: 7px;
  color: var(--basic-сharcoal);
}

.advantages-list p {
  width: 485px;
  margin-bottom: 0;
}

.advantages-item-icon {
  margin-right: 6px;
}

.ice {
  width: 49px;
  height: 49px;
  background-image: url("../img/main/ice.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.cow {
  width: 49px;
  height: 49px;
  background-image: url("../img/main/cow.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.leaf {
  width: 49px;
  height: 49px;
  background-image: url("../img/main/leaf.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.thermometer {
  width: 49px;
  height: 49px;
  background-image: url("../img/main/thermometer.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.news {
  box-sizing: border-box;
  width: 560px;
  height: 100%;
  min-height: 220px;
  padding: 23px 20px;
  border-radius: 16px;
  background-color: var(--basic-white);
  background-image: url(../img/main/bg-serving.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.news-item-title {
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
  margin: 0;
  color: var(--basic-сharcoal);
}

.news-item-link {
  font-size: 24px;
  font-weight: bold;
  line-height: 30px;
  display: inline-block;
  width: 287px;
  margin: 7px 0;
  cursor: pointer;
  vertical-align: top;
  text-decoration: underline;
  color: var(--basic-сharcoal);
}

.news-item-link:hover {
  color: var(--orange-hover);
}

.subscription {
  box-sizing: border-box;
  width: 560px;
  min-height: 220px;
  padding: 5px 6px;
  border-radius: 16px;
  background-color: var(--light-beige);
  background-image: url(../img/main/bg-border.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.subscription-wrapper {
  box-sizing: border-box;
  width: 548px;
  height: 100%;
  padding: 29px 20px 29px 16px;
  border-radius: 16px;
  background-color: var(--light-beige);
}

.subscription p {
  font-size: 16px;
  line-height: 22px;
  margin: 0 0 35px 0;
  color: var(--basic-dark-gray);
}

.subscription-form {
  z-index: 1;
  display: flex;
  justify-content: space-between;
}

.subscription-form input {
  font: inherit;
  font-size: 16px;
  line-height: 24px;
  box-sizing: border-box;
  width: 368px;
  padding: 0 14px;
  opacity: 0.52;
  color: var(--basic-light-gray);
  border-width: 1px;
  border-style: solid;
  border-color: var(--gray);
  border-radius: 6px;
  background-color: var(--basic-white);
}

.subscription-form input:hover {
  padding: 0 13px;
  border: 2px solid var(--gray-input-hover);
  outline: none;
}

.subscription-form input:focus {
  color: var(--basic-сharcoal);
  border: 2px solid var(--blue-border-focus);
  outline: none;
}

.button {
  font: inherit;
  font-size: 18px;
  font-weight: bold;
  line-height: 24px;
  cursor: pointer;
  text-align: center;
  color: var(--basic-white);
  border: none;
  border-radius: 70px;
  outline: none;
  background-image: linear-gradient(var(--middle-orange), var(--bright-orange));
  box-shadow: 0 2px 2px var(--red-button-shadow);
  text-shadow: 0 2px 5px var(--burgundy-shadow);
}

.documentation-list a {
  font-size: 13px;
  line-height: 18px;
  text-decoration: underline;
  color: var(--basic-white);
  text-decoration-color: var(--gray-filters);
}

.documentation-list a:hover,
.documentation-list a:focus {
  color: var(--light-orange-hover);
  text-decoration-color: var(--light-orange-hover);
}

.documentation-item {
  font-weight: bold;
}

.documentation-list {
  position: relative;
}

.documentation-item::before {
  position: absolute;
  top: 5px;
  left: 20px;
  width: 15px;
  height: 13px;
  content: "";
  background-image: url("../img/footer/heart.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.development p,
.development a {
  font-size: 12px;
  line-height: 18px;
  color: var(--basic-white);
}

.development-title-link {
  text-decoration: underline;
  text-decoration-color: var(--gray-filters);
}

.development-title-link:hover,
.development-title-link:focus {
  color: var(--light-orange-hover);
  text-decoration-color: var(--light-orange-hover);
}

.catalog-item h3 {
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
  margin: 10px 0;
  cursor: pointer;
  text-decoration: underline;
  color: var(--basic-white);
  text-decoration-color: var(--gray-filters);
}

.catalog-item h3:hover {
  color: var(--light-orange-hover);
  text-decoration-color: var(--light-orange-hover);
}

.catalog-item p {
  font-size: 45px;
  font-weight: bold;
  line-height: 45px;
  margin: 0 0 20px 0;
  color: var(--basic-white);
  text-shadow: 0 1px 3px var(--middle-gray-shadow);
}

.catalog-item span {
  font-size: 30px;
  font-weight: bold;
  line-height: 35px;
}

.catalog-item a {
  font-size: 18px;
  font-weight: bold;
  line-height: 24px;
  padding: 12px 16px;
  color: var(--basic-white);
}

.catalog-item-ice {
  display: flex;
  align-content: flex-end;
  align-items: flex-start;
  flex-direction: column-reverse;
  justify-content: space-between;
  width: 267px;
  height: 267px;
  margin: 0 auto;
  border-radius: 50%;
  background-color: var(--beige);
  background-repeat: no-repeat;
}

.catalog-item-price {
  margin: 0 0 20px 0;
  padding: 0;
}

.catalog-item-orange {
  background-color: var(--beige);
  background-image: url(../img/main/products/ic-orange.png);
}

.catalog-item-coffee {
  background-color: var(--brown);
  background-image: url(../img/main/products/ic-coffee.png);
}

.catalog-item-strawberry {
  background-color: var(--pink);
  background-image: url(../img/main/products/ic-strawberry.png);
}

.catalog-item-brulee {
  background-color: var(--brule);
  background-image: url(../img/main/products/ic-brulee.png);
}

.catalog-item-lingonberry {
  background-color: var(--burgundy);
  background-image: url(../img/main/products/ic-lingonberry.png);
}

.catalog-item-blueberries {
  background-color: var(--blue);
  background-image: url(../img/main/products/ic-blueberries.png);
}

.catalog-item-lemon {
  background-color: var(--beige);
  background-image: url(../img/main/products/ic-lemon.png);
}

.catalog-item-chocolate {
  background-color: var(--light-blue);
  background-image: url(../img/main/products/ic-chocolate.png);
}

.catalog-item-vanilla {
  background-color: var(--light-beige);
  background-image: url(../img/main/products/ic-vanilla.png);
}

.catalog-item-menthol {
  background-color: var(--light-blue);
  background-image: url(../img/main/products/ic-menthol.png);
}

.catalog-item-blackchocolate {
  background-color: var(--brown);
  background-image: url(../img/main/products/ic-blackchocolate.png);
}

.catalog-item-mint {
  background-color: var(--light-blue);
  background-image: url(../img/main/products/ic-mint.png);
}

.order {
  padding: 15px 0 15px 0;
}

.order span {
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  color: var(--basic-сharcoal);
}

.path {
  padding-bottom: 8px;
}

.path a {
  font-size: 14px;
  line-height: 16px;
  padding-right: 22px;
  color: var(--basic-white);
}

.schedule p {
  font-size: 14px;
  font-weight: bold;
  line-height: 16px;
  margin: 0 0 8px 0;
  color: var(--basic-white);
}

.schedule a {
  font-size: 22px;
  font-weight: bold;
  line-height: 24px;
  color: var(--basic-white);
}

.main-title {
  font-size: 35px;
  font-weight: bold;
  line-height: 41px;
  margin: 0 0 10px 0;
  color: var(--basic-white);
}

.btn-catalog {
  width: 61px;
  padding: 9px 14px;
  color: var(--basic-white);
  border-radius: 26px;
  background-color: var(--orange);
}

.path-item::after {
  position: absolute;
  width: 6px;
  height: 6px;
  margin: 9px;
  content: "";
  background-image: url("../img/header/raquo.png");
  background-repeat: no-repeat;
}

.main-slide-title {
  font-size: 60px;
  font-weight: bold;
  line-height: 60px;
  margin: 275px 0 27px 0;
  text-align: center;
  color: var(--basic-white);
}

.btn-double-order {
  font-size: 32px;
  font-weight: bold;
  line-height: 44px;
  padding: 10px 40px;
  color: var(--basic-white);
}

.special h3 {
  font-size: 35px;
  font-weight: bold;
  line-height: 41px;
  margin: 0;
  color: var(--basic-white);
}
.special {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 16px;
}

.special p {
  font-size: 18px;
  font-weight: bold;
  line-height: 22px;
}

.btn-special {
  font-size: 18px;
  font-weight: bold;
  line-height: 24px;
  align-self: flex-end;
  box-sizing: border-box;
  padding: 15px 22px;
}

.special-rasp {
  box-sizing: border-box;
  width: 560px;
  min-height: 229px;
  border: none;
  border-radius: 16px;
  background-color: var(--burgundy);
  background-image: url(../img/main/bg-raspberry.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.special-chocolate {
  box-sizing: border-box;
  width: 560px;
  min-height: 229px;
  border: none;
  border-radius: 16px;
  background-color: var(--brown);
  background-image: url(../img/main/bg-chocolate.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.special-ice {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.catalog-item-hit::before {
  position: absolute;
  z-index: 5;
  display: block;
  width: 61px;
  height: 61px;
  margin: 7px;
  content: "";
  border: none;
  border-radius: 50%;
  background-color: var(--basic-white);
  background-image: url(../img/main/products/hit/hit.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.contact {
  position: relative;
  display: block;
  width: 100%;
  height: 430px;
  margin-top: 40px;
  margin-bottom: 14px;
  background-image: url(../img/main/map-adress.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.contact-info {
  position: absolute;
  top: 62px;
  right: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
  width: 303px;
  height: 306px;
  margin-right: -573px;
  padding: 32px 25px;
  border-radius: 16px;
  background-color: var(--basic-white);
}

.contact-info-title {
  font-size: 14px;
  line-height: 20px;
  margin: 0;
  padding: 0;
  color: var(--basic-сharcoal);
}

.contact-item-value {
  font-size: 18px;
  font-weight: bold;
  line-height: 24px;
  margin: 0 0 30px 0;
  color: var(--basic-сharcoal);
}

.contact-schedule {
  font-size: 14px;
  line-height: 20px;
  margin: 0;
  color: var(--basic-сharcoal);
}

.btn-contact {
  font-size: 18px;
  font-weight: bold;
  line-height: 24px;
  display: inline-block;
  box-sizing: border-box;
  width: 100%;
  padding: 13px 28px;
  vertical-align: top;
}

.filters fieldset {
  margin: 14px 0 0 0;
  padding: 0;
  border: none;
}

.filters-name {
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
  display: inline-block;
  margin-bottom: 7px;
  vertical-align: top;
  color: var(--basic-white);
}

.filters-parameter {
  font-size: 16px;
  font-weight: 500;
  line-height: 18px;
  position: relative;
  display: block;
  cursor: pointer;
  user-select: none;
  color: var(--basic-white);
  border: none;
}

.filters {
  display: flex;
  align-items: flex-end;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 869px;
}

.filters-type-list {
  display: flex;
  justify-content: space-between;
  width: 711px;
  margin: 0;
  padding: 0;
}

.filters-sort {
  position: relative;
  box-sizing: border-box;
  width: 196px;
  cursor: pointer;
}

.filters-sort select {
  box-sizing: border-box;
  width: 190px;
  height: 32px;
  padding: 0 13px 0 16px;
  cursor: pointer;
  text-indent: 1px;
  color: var(--basic-white);
  border-style: none;
  border-radius: 20px;
  outline: 0;
  background-color: var(--gray-filters);
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.filters-sort option {
  padding: 8px 20px 3px 20px;
  color: var(--basic-сharcoal);
}

.filters-sort option:hover {
  color: var(--basic-white);
}

.filters-name-price {
  display: inline-block;
  vertical-align: top;
}

.filters-price-slider {
  position: relative;
  box-sizing: border-box;
  width: 218px;
  height: 32px;
  margin: 0;
  padding-top: 15px;
  padding-right: 20px;
  padding-left: 20px;
  cursor: pointer;
  border-radius: 20px;
  background-color: var(--gray-filters);
}

.filters-price-slider .toggle {
  position: absolute;
  top: 6px;
  left: 0;
  width: 4px;
  height: 4px;
  padding: 0;
  border: 8px solid var(--basic-white);
  border-radius: 50%;
  background-color: var(--dot-color);
}

.filters-price-slider .toggle-min {
  left: 35px;
}

.toggle-min:hover,
.toggle-max:hover {
  transform: scale(1.1);
}

.filters-price-slider .toggle-max {
  left: 135px;
}

.filters-price-slider .bar {
  width: 60%;
  height: 2px;
  margin-left: 20px;
  background: var(--light-beige);
}

.filters-price-slider .scale {
  height: 2px;
  background: var(--scale-color);
}

.filters-fat-list {
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  width: 425px;
  margin: 0;
  padding: 7px 17px 7px 14px;
  border-radius: 20px;
  background-color: var(--gray-filters);
}

.filters-type-list {
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  width: 711px;
  margin: 0;
  padding: 8px 19px;
  border-radius: 20px;
  background-color: var(--gray-filters);
}

.filter-radio {
  padding-left: 35px;
}

.filter-checkbox {
  padding-left: 30px;
}

.filter-checkbox-input + label::before {
  position: absolute;
  bottom: -1px;
  left: -30px;
  box-sizing: border-box;
  width: 20px;
  height: 20px;
  content: "";
  border: 2px solid;
  border-color: var(--middle-gray-input);
}

.filter-checkbox-input:hover + label::before {
  border-color: var(--basic-white);
}

.filter-checkbox-input:checked:hover + label::after {
  background-image: url("../img/main/checkbox-on-white.svg");
}

.filter-checkbox-input:checked + label::after {
  position: absolute;
  left: -32px;
  box-sizing: border-box;
  width: 24px;
  height: 20px;
  content: "";
  background-image: url("../img/main/checkbox-on.svg");
  background-repeat: no-repeat;
}

.filter-radio-input + label::before {
  position: absolute;
  top: -2px;
  left: -32px;
  box-sizing: border-box;
  width: 22px;
  height: 22px;
  content: "";
  border: 3px solid;
  border-color: var(--middle-gray-input);
  border-radius: 50%;
}

.filter-radio-input:hover + label::before {
  border-color: var(--basic-white);
}

.filter-radio-input:checked + label::after {
  position: absolute;
  top: 5px;
  left: -25px;
  box-sizing: border-box;
  width: 7.92px;
  height: 7.92px;
  content: "";
  border-radius: 50%;
  background-color: var(--middle-gray-input);
}

.filter-radio-input:checked:hover + label::after {
  background-color: var(--basic-white);
}

.btn-filters {
  font-size: 16px;
  font-weight: 500;
  line-height: 18px;
  box-sizing: border-box;
  width: 144px;
  height: 36px;
  cursor: pointer;
  color: var(--basic-white);
  border: 2px solid;
  border-color: var(--basic-white);
  border-radius: 20px;
  outline: none;
  background-color: var(--gray-filters);
}

.btn-filters:hover {
  color: var(--basic-сharcoal);
  background-color: var(--basic-white);
}

.btn-filters:active {
  box-shadow: inset 0 2px 1px var(--gray-shadow);
}

.pagination {
  display: flex;
  justify-content: flex-end;
}

.pagination-item {
  font-size: 16px;
  font-weight: 500;
  line-height: 26px;
  display: inline-block;
  width: 26px;
  height: 26px;
  margin: 0 2px;
  text-align: center;
  vertical-align: top;
  color: var(--basic-white);
  border-radius: 50%;
}

.pagination-item:hover {
  color: var(--basic-white);
  background-color: var(--gray-filters);
}

.pagination-item:active {
  color: var(--basic-сharcoal);
  background-color: var(--basic-white);
}

.selected {
  color: var(--basic-сharcoal);
  background-color: var(--basic-white);
}

.pagination-list {
  position: relative;
  display: flex;
  margin: 50px 0 25px 0;
  padding-right: 30px;
  padding-bottom: 10px;
}

.pagination-item-previous a::before {
  position: absolute;
  width: 7px;
  height: 12px;
  margin-top: 7px;
  margin-left: -20px;
  content: "";
  background-image: url("../img/main/previous-page.svg");
  background-repeat: no-repeat;
}

.pagination-item-next a::after {
  position: absolute;
  width: 7px;
  height: 12px;
  margin: 7px 14px;
  content: "";
  background-image: url("../img/main/next-page.svg");
  background-repeat: no-repeat;
}

.slide-buttons {
  position: relative;
  top: -55px;
  display: flex;
  width: 100px;
  margin: 0;
  padding: 0;
}

.slide-button {
  margin-right: 8px;
}

.btn-slide {
  width: 21px;
  height: 21px;
  padding: 0;
  cursor: pointer;
  border: 2px solid;
  border-color: var(--basic-white);
  border-radius: 50%;
  outline: none;
  background-color: transparent;
}

.btn-slide:hover {
  background-color: var(--middle-gray-hover);
}

.btn-slide:active {
  background-color: var(--basic-white);
}

.btn-slide.current:hover {
  background-color: var(--basic-white);
}

.current {
  background-color: var(--basic-white);
}

.page {
  height: 100%;
}

.page-body {
  display: grid;
  align-content: start;
  min-height: 100%;
  grid-template-rows: min-content 1fr min-content;
}

.container {
  box-sizing: border-box;
  width: 1146px;
  margin: 0 auto;
}

.main-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 9px 0 0 0;
}

.main-nav {
  display: flex;
  margin: 0;
  padding: 0;
}

.nav-list {
  display: flex;
  justify-content: space-between;
  margin-left: 17px;
  padding: 0;
}

.user-menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.form-search {
  padding: 15px 10px 15px 0;
}

.info-sections {
  display: flex;
  justify-content: space-between;
  width: 1146px;
  margin-top: 40px;
}

.social-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 170px;
  padding: 0;
}

.social-item {
  display: flex;
  border: 2px solid;
  border-color: var(--middle-gray-border);
  border-radius: 50%;
}

.social-item path {
  fill-opacity: 0.8;
}

.social-item:hover path {
  fill-opacity: 1;
}

.social-item:active {
  border-color: var(--light-gray-border-active);
}

.documentation-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 330px;
}

.documentation-list li {
  width: 165px;
}

.footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 15px;
}

.footer-line {
  padding-top: 18px;
  border-top: 1px solid var(--gray-filters);
}

.development-title {
  margin: 0;
}

.shop-info {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.catalog-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 30px 0 0 0;
  padding: 0;
}

.catalog-list li {
  width: 25%;
}

.schedule {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
}

.contact-img {
  margin: 100px;
}

.search-form {
  position: absolute;
  z-index: 1;
  display: none;
  margin: 7px -310px;
  padding: 20px 15px;
  border-radius: 4px;
  background-color: var(--light-beige);
  box-shadow: 0 20px 20px var(--black-shadow);
}

.search-form-input {
  box-sizing: border-box;
  width: 311px;
  height: 44px;
  padding: 15px;
  color: var(--basic-light-gray);
  border: 1px solid;
  border-color: var(--light-yellow);
  border-radius: 4px;
  background-color: var(--basic-white);
}

.search-form-input:hover {
  padding: 14px;
  border: 2px solid var(--gray-input-hover);
  outline: none;
}

.search-form-input:focus {
  padding: 14px;
  color: var(--basic-сharcoal);
  border: 2px solid var(--blue-border-focus);
  outline: none;
}

.login-form {
  position: absolute;
  z-index: 1;
  display: none;
  flex-direction: column;
  margin: 40px -190px;
  padding: 20px;
  border-radius: 4px;
  background-color: var(--light-beige);
  box-shadow: 0 20px 20px var(--black-shadow);
}

.login-form-buttons {
  display: flex;
  justify-content: space-between;
}

.login-form-help {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.login-form input {
  box-sizing: border-box;
  width: 241px;
  height: 44px;
  margin-bottom: 20px;
  padding: 15px;
  color: var(--basic-light-gray);
  border: 1px solid;
  border-color: var(--light-yellow);
  border-radius: 4px;
  background-color: var(--basic-white);
}

.login-form input:hover {
  padding: 14px;
  border: 2px solid var(--gray-input-hover);
  outline: none;
}

.login-form input:focus {
  color: var(--basic-сharcoal);
  border: 2px solid var(--blue-border-focus);
  outline: none;
}

.btn-login-modal {
  width: 103px;
  height: 44px;
  border-radius: 26px;
}

.login-form-text {
  font-size: 13px;
  line-height: 15px;
  color: var(--basic-сharcoal);
}

.feedback-form-wrapper {
  position: fixed;
  display: none;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  background-color: var(--black-feedback);
}

.feedback-form-wrapper.active {
  display: flex;
}

.active .feedback-form {
  -webkit-animation: bounce 0.6s;
  animation: bounce 0.6s;
}

.feedback-form {
  position: static;
  z-index: 100;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  width: 477px;
  height: 441px;
  padding: 20px 25px 27px 23px;
  border-radius: 6px;
  background-color: var(--light-beige);
}

.feedback-form-title {
  font-size: 24px;
  font-weight: 500;
  line-height: 28px;
  margin: 0 0 26px 0;
  color: var(--basic-сharcoal);
}

.feedback-form-input {
  box-sizing: border-box;
  width: 267px;
  height: 44px;
  margin-bottom: 20px;
  padding: 15px;
  color: var(--basic-light-gray);
  border: 1px solid;
  border-color: var(--light-yellow);
  border-radius: 4px;
  background-color: var(--basic-white);
}

.feedback-form-input:hover {
  padding: 14px;
  border: 2px solid var(--gray-input-hover);
  outline: none;
}

.feedback-form-input:focus {
  padding: 14px;
  color: var(--basic-сharcoal);
  border: 2px solid var(--blue-border-focus);
  outline: none;
}

.feedback-form-text {
  box-sizing: border-box;
  width: 428px;
  height: 154px;
  margin-bottom: 25px;
  padding: 16px 14px;
  resize: none;
  color: var(--basic-light-gray);
  border: 1px solid;
  border-color: var(--light-yellow);
  border-radius: 4px;
  background-color: var(--basic-white);
}

.feedback-form-text:hover {
  padding: 15px 13px;
  border: 2px solid var(--gray-input-hover);
  outline: none;
}

.feedback-form-text:focus {
  color: var(--basic-сharcoal);
  border: 2px solid var(--blue-border-focus);
  outline: none;
}

.btn-feedback {
  font-size: 18px;
  font-weight: bold;
  line-height: 24px;
  align-self: flex-end;
  width: 140px;
  height: 44px;
  color: var(--basic-white);
  text-shadow: var(--burgundy-shadow);
}

.modal-error {
  -webkit-animation: shake 0.6s;
  animation: shake 0.6s;
}

/* Animations */

@keyframes bounce {
  0% {
    -webkit-transform: translateY(-2000px);
    -ms-transform: translateY(-2000px);
    transform: translateY(-2000px);
  }

  70% {
    -webkit-transform: translateY(30px);
    -ms-transform: translateY(30px);
    transform: translateY(30px);
  }

  90% {
    -webkit-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    transform: translateY(-10px);
  }

  100% {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes shake {
  0%,
  100% {
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: translateX(-10px);
    -ms-transform: translateX(-10px);
    transform: translateX(-10px);
  }

  20%,
  40%,
  60%,
  80% {
    -webkit-transform: translateX(10px);
    -ms-transform: translateX(10px);
    transform: translateX(10px);
  }
}
